In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

### Store 1st CSV into DataFrame

In [3]:
house_csv_file = "../Resources/Affordable_Housing_Inventory.csv"
house_data_df = pd.read_csv(house_csv_file)
house_data_df.columns
# portland_data_df["Offense Type"].value_counts()

Index(['Contract ID #', 'Name', 'Developer/Owner', 'Unit Type',
       'Development Program', 'Address', 'Zip Code', 'Council District',
       'Contact Phone Number', 'Contact E-mail', 'Own/Rent', 'Total Units',
       'Total Affordable Units', 'Status', 'Affordability Period Start Date',
       'Affordability Period Start Year', 'Affordabilty Period',
       'Affordability Period Expiration Date', 'Units at 30% MFI',
       'Units at 40% MFI', 'Units at 50% MFI', 'Units at 60% MFI',
       'Units at 65% MFI ', 'Units at 80% MFI', 'Market Rate Units',
       'City Funding Amount', 'Approx. % of Funds Leveraged', 'Location 1'],
      dtype='object')

### Create new data with select columns

In [4]:
new_house_data_df = house_data_df[['Name', 'Zip Code','Total Affordable Units']].copy()
new_house_data_df.head()

                        Name  Zip Code  Total Affordable Units
0            Annointed Acres   78702.0                    72.0
1                  M Station   78722.0                   140.0
2  Garden Terrace Apartments   78745.0                    15.0
3                  Lifeworks   78704.0                    12.0
4        Mueller I-C Phase I   78723.0                     3.0

In [5]:
new_house_data_df = new_house_data_df.rename(columns={'Zip Code': 'Zip', 'Name': 'Contractor_Name', 'Total Affordable Units': 'Total_Affordable_Units'})

In [6]:
new_house_data_df.dropna(inplace=True)
new_house_data_df['Zip'] = new_house_data_df['Zip'].astype(int)

In [7]:
total_units_df = new_house_data_df.groupby('Zip').sum()

In [8]:
total_units_df.reset_index(inplace=True)

In [9]:
total_units_df.columns = ['Zip', 'Total Affordable Units per Zip']

In [10]:
housing_data = pd.merge(new_house_data_df, total_units_df, on='Zip')
del housing_data['Total_Affordable_Units']
housing_data.head()

          Contractor_Name    Zip  Total Affordable Units per Zip
0         Annointed Acres  78702                           996.0
1             Linden Lots  78702                           996.0
2    The Villages on 12th  78702                           996.0
3        906 E 7th Street  78702                           996.0
4  1616 Canterbury Street  78702                           996.0

### Store 2nd CSV into DataFrame

In [11]:
austind_csv_file = "../Resources/austin.csv"
austin_crime_data_df = pd.read_csv(austind_csv_file)

In [12]:
austin_crime_data_df.dropna(inplace=True)
austin_crime_data_df['GO Location Zip'] = austin_crime_data_df['GO Location Zip'].astype(int)

In [13]:
# austin_crime_data_df.dtypes

In [14]:
# del austin_crime_data_df['GO Primary Key']
# del austin_crime_data_df['Council District']
# del austin_crime_data_df['GO Highest Offense Desc']
# del austin_crime_data_df['GO Report Date']
# del austin_crime_data_df['GO Location']
# del austin_crime_data_df['Clearance Status']
# del austin_crime_data_df['Clearance Date']
# del austin_crime_data_df['GO District']
# del austin_crime_data_df['GO Census Tract']
# del austin_crime_data_df['GO X Coordinate']
# del austin_crime_data_df['GO Y Coordinate']

### Clean DataFrame

In [15]:
# austin_crime_data_df.head()

In [16]:
austin_crime_data_df = austin_crime_data_df.rename(columns={'Highest NIBRS/UCR Offense Description': 'Offense', 'GO Location Zip': 'Zip'})
austin_crime_data_df.head()

,GO Primary Key,Council District,GO Highest Offense Desc,Offense,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,Zip,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,201610188.0,8.0,AGG ASLT ENHANC STRANGL/SUFFOC,Agg Assault,1-Jan-16,8600 W SH 71 ...,C,12-Jan-16,D,78735,19.08,3067322.0,10062796.0
1,201610643.0,9.0,THEFT,Theft,1-Jan-16,219 E 6TH ST ...,C,4-Jan-16,G,78701,11.00,3114957.0,10070462.0
2,201610892.0,4.0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-16,701 W LONGSPUR BLVD ...,N,3-May-16,E,78753,18.23,3129181.0,10106923.0
3,201610893.0,9.0,THEFT,Theft,1-Jan-16,404 COLORADO ST ...,N,22-Jan-16,G,78701,11.00,3113643.0,10070357.0
5,201611148.0,1.0,DEADLY CONDUCT,Agg Assault,1-Jan-16,8002 TAPO LN ...,N,8-Jan-16,C,78724,22.08,3146947.0,10077985.0

In [17]:
# austin_data_df["GO Location Zip"].value_counts()

In [18]:
del housing_data['Contractor_Name']

In [19]:
combined_crime_data = pd.merge(housing_data, austin_crime_data_df, on='Zip')

In [20]:
combined_crime_data.head()

,Zip,Total Affordable Units per Zip,GO Primary Key,Council District,GO Highest Offense Desc,Offense,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,78702,996.0,2.016500e+10,3.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,E 5TH ST / ONION ST ...,N,4-Jan-16,G,9.02,3119041.0,10068828.0
1,78702,996.0,2.016500e+10,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,EMBASSY DR / E 9TH ST ...,N,14-Jan-16,G,9.01,3117723.0,10070838.0
2,78702,996.0,2.016500e+10,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,809 E 9TH ST ...,N,14-Jan-16,G,9.01,3117459.0,10070829.0
3,78702,996.0,2.016500e+10,1.0,THEFT,Theft,1-Jan-16,1149 CHICON ST ...,N,19-Feb-16,C,8.04,3121874.0,10071490.0
4,78702,996.0,2.016207e+08,1.0,AUTO THEFT,Auto Theft,2-Jan-16,1812 ULIT AVE ...,N,3-Jan-16,C,8.03,3123757.0,10075640.0

In [22]:
del combined_crime_data['GO Primary Key']

In [23]:
combined_crime_data.columns

Index(['Zip', 'Total Affordable Units per Zip', 'Council District',
       'GO Highest Offense Desc', 'Offense', 'GO Report Date', 'GO Location',
       'Clearance Status', 'Clearance Date', 'GO District', 'GO Census Tract',
       'GO X Coordinate', 'GO Y Coordinate'],
      dtype='object')

In [26]:
combined_crime_data.columns = ['Zip', 'Total_Affordable_Units_per_Zip',
       'Council_District', 'Highest_Offense_Desc', 'Offense',
       'Report_Date', 'Location', 'Clearance_Status', 'Clearance_Date',
       'District', 'Census_Tract', 'X_Coordinate', 'Y_Coordinate']

combined_crime_data.head()

,Zip,Total_Affordable_Units_per_Zip,Council_District,Highest_Offense_Desc,Offense,Report_Date,Location,Clearance_Status,Clearance_Date,District,Census_Tract,X_Coordinate,Y_Coordinate
0,78702,996.0,3.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,E 5TH ST / ONION ST ...,N,4-Jan-16,G,9.02,3119041.0,10068828.0
1,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,EMBASSY DR / E 9TH ST ...,N,14-Jan-16,G,9.01,3117723.0,10070838.0
2,78702,996.0,1.0,BURGLARY OF VEHICLE,Theft,1-Jan-16,809 E 9TH ST ...,N,14-Jan-16,G,9.01,3117459.0,10070829.0
3,78702,996.0,1.0,THEFT,Theft,1-Jan-16,1149 CHICON ST ...,N,19-Feb-16,C,8.04,3121874.0,10071490.0
4,78702,996.0,1.0,AUTO THEFT,Auto Theft,2-Jan-16,1812 ULIT AVE ...,N,3-Jan-16,C,8.03,3123757.0,10075640.0

### Connect to local database

In [27]:
rds_connection_string = "root:Msql03092018@127.0.0.1/austin_crime_housing_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [28]:
engine.table_names()

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)") (Background on this error at: http://sqlalche.me/e/e3q8)

### Use 1 st pandas to load csv converted DataFrame into database

In [ ]:
#new_house_data_df.to_sql(name='house', con=engine, if_exists='append', index=False)

### Use 2 nd  pandas to load csv converted DataFrame into database

In [ ]:
#austin_data_df.to_sql(name='austin_data', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the house table

In [ ]:
pd.read_sql_query('select * from house', con=engine).head()

### Confirm data has been added by querying the austin_data table

In [ ]:
pd.read_sql_query('select * from austin_data', con=engine).head()