In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

### Store 1st CSV into DataFrame

In [3]:
house_csv_file = "../Resources/Affordable_Housing_Inventory.csv"
house_data_df = pd.read_csv(house_csv_file)
house_data_df.columns
# portland_data_df["Offense Type"].value_counts()

Index(['Contract ID #', 'Name', 'Developer/Owner', 'Unit Type',
       'Development Program', 'Address', 'Zip Code', 'Council District',
       'Contact Phone Number', 'Contact E-mail', 'Own/Rent', 'Total Units',
       'Total Affordable Units', 'Status', 'Affordability Period Start Date',
       'Affordability Period Start Year', 'Affordabilty Period',
       'Affordability Period Expiration Date', 'Units at 30% MFI',
       'Units at 40% MFI', 'Units at 50% MFI', 'Units at 60% MFI',
       'Units at 65% MFI ', 'Units at 80% MFI', 'Market Rate Units',
       'City Funding Amount', 'Approx. % of Funds Leveraged', 'Location 1'],
      dtype='object')

### Create new data with select columns

In [13]:
new_house_data_df = house_data_df[['Name', 'Zip Code','Total Affordable Units']].copy()
new_house_data_df.head()
# new_portland_data_df.head()

                        Name  Zip Code  Total Affordable Units
0            Annointed Acres   78702.0                    72.0
1                  M Station   78722.0                   140.0
2  Garden Terrace Apartments   78745.0                    15.0
3                  Lifeworks   78704.0                    12.0
4        Mueller I-C Phase I   78723.0                     3.0

In [5]:
new_house_data_df['Zip Code'].value_counts()

78702.0    67
78723.0    65
78741.0    58
78724.0    51
78705.0    47
78744.0    40
78704.0    25
78722.0    18
78745.0    17
78721.0    16
78756.0     6
78757.0     6
78758.0     6
78752.0     4
78617.0     4
78748.0     4
78754.0     4
78717.0     3
78751.0     3
78753.0     3
78735.0     2
78727.0     2
78726.0     2
78641.0     1
78730.0     1
78728.0     1
78750.0     1
78703.0     1
78747.0     1
Name: Zip Code, dtype: int64

In [15]:
new_house_data_df = new_house_data_df.rename(columns={'Zip Code': 'Zip', 'Name': 'Contractor_Name', 'Total Affordable Units': 'Total_Affordable_Units'})
new_house_data_df.head()

             Contractor_Name      Zip  Total_Affordable_Units
0            Annointed Acres  78702.0                    72.0
1                  M Station  78722.0                   140.0
2  Garden Terrace Apartments  78745.0                    15.0
3                  Lifeworks  78704.0                    12.0
4        Mueller I-C Phase I  78723.0                     3.0

### Store 2nd CSV into DataFrame

In [6]:
austind_csv_file = "../Resources/austin.csv"
austin_data_df = pd.read_csv(austind_csv_file)
austin_data_df["GO Highest Offense Desc"].value_counts()

THEFT                             10442
BURGLARY OF VEHICLE                8505
THEFT BY SHOPLIFTING               3424
BURGLARY OF RESIDENCE              3196
AUTO THEFT                         2025
BURGLARY NON RESIDENCE             1649
THEFT OF BICYCLE                   1392
AGG ASSAULT                         902
THEFT FROM AUTO                     656
AGG ASLT STRANGLE/SUFFOCATE         609
AGG ROBBERY/DEADLY WEAPON           582
THEFT OF LICENSE PLATE              475
THEFT FROM PERSON                   451
ROBBERY BY ASSAULT                  358
AGG ASSAULT FAM/DATE VIOLENCE       335
BURG NON RESIDENCE SHEDS            316
RAPE                                288
THEFT OF AUTO PARTS                 286
THEFT FROM BUILDING                 249
THEFT OF TRAILER                    163
DEADLY CONDUCT                      146
SEXUAL ASSAULT W/ OBJECT            119
SEXUAL ASSAULT OF CHILD/OBJECT      115
BREACH OF COMPUTER SECURITY          98
RAPE OF A CHILD                      94
ROBBERY BY THREAT                    90
AGG ASSAULT WITH MOTOR VEH           71
AGG ASLT ENHANC STRANGL/SUFFOC       54
FORCED SODOMY                        43
THEFT OF METAL                       41
AGG RAPE OF A CHILD                  37
AGG SEXUAL ASSAULT CHILD/OBJEC       37
MURDER                               30
BURGLARY OF COIN-OP MACHINE          29
AGG ASLT W/MOTOR VEH FAM/DAT V       26
AGG ASSAULT ON PUBLIC SERVANT        22
AGG ROBBERY BY ASSAULT               20
AGG RAPE                             13
THEFT OF HEAVY EQUIPMENT             11
BURG OF RES - SEXUAL NATURE          10
MISAPPLY FIDUCIARY PROP               9
AGG SEXUAL ASSAULT W OBJECT           8
TAKE WEAPON FRM POLICE OFFICER        8
PURSE SNATCHING                       4
CAPITAL MURDER                        4
MANSLAUGHTER                          4
DEADLY CONDUCT FAM/DATE VIOL          3
POCKET PICKING                        3
FORCED SODOMY OF CHILD                2
AGG FORCED SODOMY                     2
THEFT/TILL TAPPING                    2
AGG FORCED SODOMY OF CHILD            1
THEFT CATALYTIC CONVERTER             1
SERIOUS INJURY TO A CHILD             1
Name: GO Highest Offense Desc, dtype: int64

In [7]:
austin_data_df.head()

,GO Primary Key,Council District,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,GO Location Zip,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,201610188.0,8.0,AGG ASLT ENHANC STRANGL/SUFFOC,Agg Assault,1-Jan-16,8600 W SH 71 ...,C,12-Jan-16,D,78735.0,19.08,3067322.0,10062796.0
1,201610643.0,9.0,THEFT,Theft,1-Jan-16,219 E 6TH ST ...,C,4-Jan-16,G,78701.0,11.00,3114957.0,10070462.0
2,201610892.0,4.0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-16,701 W LONGSPUR BLVD ...,N,3-May-16,E,78753.0,18.23,3129181.0,10106923.0
3,201610893.0,9.0,THEFT,Theft,1-Jan-16,404 COLORADO ST ...,N,22-Jan-16,G,78701.0,11.00,3113643.0,10070357.0
4,201611018.0,4.0,SEXUAL ASSAULT W/ OBJECT,Rape,1-Jan-16,NaN,C,10-Mar-16,E,78753.0,18.33,NaN,NaN

In [8]:
austin_data_df.columns

Index(['GO Primary Key', 'Council District', 'GO Highest Offense Desc',
       'Highest NIBRS/UCR Offense Description', 'GO Report Date',
       'GO Location', 'Clearance Status', 'Clearance Date', 'GO District',
       'GO Location Zip', 'GO Census Tract', 'GO X Coordinate',
       'GO Y Coordinate'],
      dtype='object')

In [11]:
del austin_data_df['GO Primary Key']
del austin_data_df['Council District']
del austin_data_df['GO Highest Offense Desc']
del austin_data_df['GO Report Date']
del austin_data_df['GO Location']
del austin_data_df['Clearance Status']
del austin_data_df['Clearance Date']
del austin_data_df['GO District']
del austin_data_df['GO Census Tract']
del austin_data_df['GO X Coordinate']
del austin_data_df['GO Y Coordinate']

### Clean DataFrame

In [12]:
austin_data_df.head()

  Highest NIBRS/UCR Offense Description  GO Location Zip
0                           Agg Assault          78735.0
1                                 Theft          78701.0
2                               Robbery          78753.0
3                                 Theft          78701.0
4                                  Rape          78753.0

In [16]:
austin_data_df = austin_data_df.rename(columns={'Highest NIBRS/UCR Offense Description': 'Offense', 'GO Location Zip': 'Zip'})
austin_data_df.head()

       Offense      Zip
0  Agg Assault  78735.0
1        Theft  78701.0
2      Robbery  78753.0
3        Theft  78701.0
4         Rape  78753.0

In [10]:
austin_data_df["GO Location Zip"].value_counts()

78741.0    3355
78753.0    3134
78704.0    2557
78758.0    2499
78745.0    2245
78701.0    2076
78723.0    2041
78744.0    1990
78702.0    1582
78748.0    1372
78752.0    1289
78759.0    1198
78705.0    1134
78757.0    1074
78751.0     914
78746.0     826
78749.0     790
78703.0     660
78729.0     564
78724.0     540
78727.0     538
78721.0     515
78731.0     512
78754.0     413
78613.0     341
78750.0     340
78756.0     326
78717.0     305
78735.0     300
78617.0     285
78722.0     261
78747.0     229
78726.0     221
78660.0     179
78719.0     165
78739.0     151
78736.0     115
78725.0      72
78742.0      58
78653.0      48
78730.0      46
78652.0      16
78712.0       7
78728.0       7
78664.0       2
78732.0       1
78737.0       1
Name: GO Location Zip, dtype: int64

### Connect to local database

In [28]:
rds_connection_string = "root:Msql03092018@127.0.0.1/austin_crime_housing_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [29]:
engine.table_names()

['austin_data', 'house']

### Use 1 st pandas to load csv converted DataFrame into database

In [31]:
#new_house_data_df.to_sql(name='house', con=engine, if_exists='append', index=False)

### Use 2 nd  pandas to load csv converted DataFrame into database

In [33]:
#austin_data_df.to_sql(name='austin_data', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the house table

In [36]:
pd.read_sql_query('select * from house', con=engine).head()

Empty DataFrame
Columns: [Zip, Contractor_Name, Total_Affordable_Units]
Index: []

### Confirm data has been added by querying the austin_data table

In [37]:
pd.read_sql_query('select * from austin_data', con=engine).head()

Empty DataFrame
Columns: [Zip, Offense]
Index: []